**
!.dockerignore
!Dockerfile
!package.json
!package-lock.json
!index.html
!vite.config.ts
!tsconfig*.json
!postcss.config.js
!tailwind.config.js
!src/
!src/**
!server/
!server/*.mjs
!server/Dockerfile
!public/
!public/favicon.svg
!public/theme-init.js
!public/images/
!public/images/icon/
!public/images/icon/**
!public/images/filters/
!public/images/filters/**
!public/images/official/
!public/images/official/**
!public/images/img_pattern_artdeco.png
!public/images/bg_character_standing.png
!public/fonts/
!public/fonts/*LICENSE.txt
!deploy/
!deploy/nginx.conf
!requirements*.txt
!docker/
!docker/Dockerfile.updater
!campus_story_index/
!campus_story_index/**
!scripts/
!scripts/build_vgmstream.sh
!scripts/verify_web_export.py
**/__pycache__
**/*.pyc
**/.DS_Store

!requirements-r2.txt
